.cloud {
  position: absolute;
  margin-top: 70px;
  width: 130px;
  height: 50px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  z-index: -1;
}

.cloud::before,
.cloud::after {
  content: '';
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud::before {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 40px;
}
.cloud::after {
  width: 30px;
  height: 30px;
  top: -50px;
  left: -40px;
}

#cloud1 {
  top: 0px;
  left: 10%;
  animation: moveclouds 45s linear infinite;
}

#cloud2 {
  top: 70px;
  left: 10%;
  transform: scale(0.5);
  animation: moveclouds 10s linear infinite;
}

#cloud3 {
  top: 25px;
  left: 50%;
  transform: scale(0.8);
  animation: moveclouds 15s linear infinite;
}

#cloud4 {
  top: -30px;
  left: 60%;
  transform: scale(0.9);
  animation: moveclouds 20s linear infinite;
}

@keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@media (min-width: 1000px) {
  @keyframes moveclouds {
    0% {
      margin-left: 2000px;
    }
    100% {
      margin-left: -2000px;
    }
  }
}
