$animation-options: 7s ease-in-out infinite;
// Court
#court {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 300px;
  width: 100%;
  height: 300px;
  background: green;
  border: solid;
  border-radius: 30px;
  z-index: -2;
}

@media (min-width: 1000px) {
  #court {
    width: 1000px;
  }
}

#net {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 300px;
  background: white;
  box-shadow: 5px 3px rgba(0, 0, 0, 0.2);
}

.line {
  position: absolute;
  width: 1px;
  height: 300px;
  background: white;
  z-index: -3;
}
#line1 {
  left: 25%;
}
#line2 {
  left: 75%;
}

// Rackets
.racket {
  position: absolute;
  top: 40%;
  z-index: -1;
  // background: red;
}

#racket1 {
  left: 20%;
  transform: rotate(-45deg);
  animation: moveRacket1 $animation-options;
}

#racket2 {
  right: 20%;
  transform: rotate(45deg);
  animation: moveRacket2 $animation-options;
}

.racket-head {
  width: 50px;
  height: 60px;
  background: #eceff1;
  border-radius: 100px;
}

.handle {
  position: inherit;
  z-index: -2;
  background: black;
  border-radius: 100px;
  width: 10px;
  height: 50px;
  top: 40px;
  left: 20px;
}

// Shadows
#racket1 > * {
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

#racket2 > * {
  box-shadow: 5px 0px rgba(0, 0, 0, 0.2);
}

// Ball
.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100px;
}

#ball {
  background: red;
  animation: moveBall $animation-options;
}
#ball-shadow {
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  animation: moveShadow $animation-options;
}

@keyframes moveRacket1 {
  0% {
  }
  // hit
  25% {
    top: 70%;
    left: 21%;
  }

  60% {
    top: 46%;
    left: 22%;
  }
  // hit
  75% {
    top: 25%;
    left: 35%;
    transform: rotate(-30deg);
  }
  100% {
  }
}

@keyframes moveRacket2 {
  // hit
  0% {
  }

  15% {
    top: 25%;
    right: 30%;
  }

  30% {
    top: 40%;
    right: 20%;
  }

  // hit
  50% {
    top: 8%;
    right: 10%;
  }

  60% {
    top: 16%;
    right: 17%;
  }

  70% {
    top: 16%;
    right: 25%;
  }
  // hit
  100% {
  }
}

@keyframes moveBall {
  0% {
    bottom: 46%;
    right: 22%;
    width: 15px;
    height: 15px;
  }

  12.5% {
    width: 65px;
    height: 60px;
  }

  25% {
    bottom: 16%;
    right: 75%;
    width: 15px;
    height: 15px;
  }

  37.5% {
    width: 45px;
    height: 40px;
  }
  50% {
    bottom: 84%;
    right: 12%;
    width: 15px;
    height: 15px;
  }

  62.5% {
    width: 35px;
    height: 30px;
  }

  75% {
    bottom: 66%;
    right: 62%;
    width: 15px;
    height: 15px;
  }

  87.5% {
    width: 35px;
    height: 30px;
  }

  100% {
    bottom: 46%;
    right: 22%;
  }
}

@keyframes moveShadow {
  0% {
    bottom: 46%;
    right: 22%;
    width: 15px;
    height: 15px;
  }

  12.5% {
    width: 5px;
    height: 5px;
  }

  25% {
    bottom: 16%;
    right: 75%;
    width: 15px;
    height: 15px;
  }

  37.5% {
    width: 5px;
    height: 5px;
  }
  50% {
    bottom: 84%;
    right: 12%;
    width: 15px;
    height: 15px;
  }

  62.5% {
    width: 5px;
    height: 5px;
  }

  75% {
    bottom: 66%;
    right: 62%;
    width: 15px;
    height: 15px;
  }

  87.5% {
    width: 5px;
    height: 5px;
  }

  100% {
    bottom: 46%;
    right: 22%;
  }
}
