$background-blue: lightsteelblue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sky {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}
body {
  background-color: $background-blue;
  font-family: monospace;
  font-weight: 200;
  color: black;
}

h1 {
  font-weight: 400;
  font-size: 4em;
}

#title {
  display: inline-block;
  margin-top: 50px;
}
section {
  display: grid;
  justify-items: center;
}

@media (max-width: 1000px) {
  #sky {
    padding-left: 0%;
    padding-right: 0%;
  }
}
